body {
    margin: 0;
    font-weight: 800;
    background-color: #e6e6e9;
}

.container {
	width: 86%;
	margin: 0 auto;
}

/* Navbar */

nav {
    overflow: hidden;
    background-color: #1c8adb;
}

nav a {
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav #logo {
    float: left;
}

/* Login Form */

.login-form {
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-style: solid;
    border-color: #c3c3c4;
    border-width: 1px;

}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: left;
}

.login-form p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-form input {
    width: 30%;
    height: 18px;
    margin-bottom: 20px;
    border-style: groove;
}

.login-form input[type="submit"] {
    border: none;
    outline: none;
    background: #1c8adb;
    color: #fff;
    height: 30px;
    font-size: 16px;
} 


/* Footer */

footer {
    position: fixed;
    bottom: 1%;
    left: 0;
    right: 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    margin-right: 2%;
}